.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 2rem;
  text-align: center;
  gap: 3rem;
}

.title {
  font-family: "Press Start 2P", cursive;
  font-size: 3rem;
  text-shadow: 3px 3px 0 var(--third);
  line-height: 1.2;
  max-width: 90vw;
}

.buttonGroup {
  display: flex;
  gap: 1.5rem;
  margin-top: 2rem;
  justify-content: space-evenly;
}

.primaryButton {
  background: linear-gradient(145deg, var(--secondary), #9d8eff);
  font-family: "Press Start 2P", cursive;
  color: var(--primary);
  padding: 1.5rem 3rem;
  margin: 1.5rem;
  border: none;
  border-radius: 1rem;
  font-size: 1.2rem;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: var(--shadow);
}

.primaryButton:hover {
  transform: translateY(-3px);
  box-shadow: 0 8px 20px rgba(178, 165, 255, 0.4);
}
.secondaryButton {
  background: none;
  color: var(--secondary);
  padding: 1.5rem 3rem;
  border: none;
  border-radius: 1rem;
  font-size: 1.2rem;
  cursor: pointer;
  transition: all 0.3s ease;
  /* opacity: calc(0.3); */
}
.popupOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.popupContent {
  background: var(--background);
  padding: 3rem;
  border-radius: 2rem;
  text-align: center;
  width: 90%;
  max-width: 500px;
}

.popupTitle {
  font-family: "Press Start 2P", cursive;
  font-size: 1.2rem;
  text-shadow: 3px 3px 0.2rem var(--secondary);
  padding: 1rem;
  color: var(--primary);
}
.popupTitle span {
  font-size: 0.2rem;
}

@media (max-width: 768px) {
  .title {
    font-size: 1.5rem;
    text-shadow: 2px 2px 0 var(--secondary);
  }

  .primaryButton,
  .secondaryButton {
    padding: 1rem;
    font-size: 0.9rem;
    width: 100%;
    margin: 0.5rem;
  }

  .popupContent {
    padding: 1.5rem;
  }
}
