.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 2rem;
  text-align: center;
  gap: 3rem;
}
.title {
  font-family: "Press Start 2P", cursive;
  font-size: 3rem;
  text-shadow: 3px 3px 0 var(--secondary);
  line-height: 1.2;
  max-width: 90vw;
}
.preview {
  font-size: 2.8rem;
  letter-spacing: 1.5rem;
  color: var(--secondary);
  /* margin: 3rem 0; */
  text-align: center;
  font-family: "Press Start 2P", cursive;
  min-height: 100px;
}

.numberGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem;
  max-width: 500px;
  margin: 0 auto;
}

.numberButton {
  font-family: "Press Start 2P", cursive;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  font-size: 2rem;
  font-weight: bold;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
  background: var(--secondary);
  color: var(--primary);
  box-shadow: 0 5px 15px rgba(178, 165, 255, 0.3);
}

.numberButton:hover {
  font-family: "Press Start 2P", cursive;
  transform: scale(1.15);
  box-shadow: 0 8px 25px rgba(178, 165, 255, 0.5);
  color: var(--accent);
}
@media (max-width: 768px) {
  .title {
    font-size: 1.5rem;
  }

  .preview {
    font-size: 1.8rem;
    letter-spacing: 1rem;
  }

  .numberGrid {
    gap: 1rem;
  }

  .numberButton {
    width: 60px;
    height: 60px;
    font-size: 1.5rem;
  }
}
